<html>

<head>

</head>
<link rel="stylesheet" href="/css/register.css">

<body>
    <section>
        <div class="container">
            <div class="page">
                <div class="sub-container">
                    <div class="logo">



                        <img src="/images/logo.svg" alt="">


                    </div>
                    <div class="welcome">
                        <p>Welcome back</p>
                    </div>
                    <div class="main">
                        <form method="post" action="/login" id="form">



                            <div class="label"><label for="email">email</label></div>
                            <div class="input"><input type="text" name="email" id="em"></div>
                            <div class="label"><label class="" name="em" id="em1" for=""></label></div>


                            <div class="label"><label for="pwd">Password</label></div>
                            <div class="input"><input type="text" name="pwd" id="pwd"></div>
                            <div class="label"> <label class="" name="ps" id="ps" for=""></label></div>


                            <div class="submit">
                                <input type="submit" value="Log In">
                            </div>
                        </form>
                        <div class="sign-in-btn-content">
                            <div class="sign-in-btn">
                                <span class="main-btn-text">Dont have an account?</span> <span class="sign-btn"><a href="/register">Sign in here</a></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="rightlogo">
                    <img src="/images/bottom-logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

</body>

</html>