<!DOCTYPE html>



<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/practise2.css">
</head>

<body>

    <div class="container">
        <div class="nav">
            <div class="logo">
                <img src="/html/Logo3.jpg" alt="">
            </div>
            <div class="nav-link">

                <ul class="ul">
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>Landings </li>
                    </a>
                    <a href="">
                        <li>Pages</li>
                    </a>
                    <a href="">
                        <li>Docs </li>
                    </a>
                    <a href="">
                        <li>Help</li>
                    </a>
                </ul>

                <a class="click" href="/">Get It now</a>
            </div>
        </div>
    </div>
    <section>
        <div class="header_content">
            <div>
                <img class="header_left" src="/html/finalimg.png" alt="">
            </div>

            <div class="header_right">

                <h1 class="txt_1">Make Your new Life <br>Happier</h1>
                <div class="c1">
                    <p>We work with several leading insurance companies to <br>secure insurance coverages tailored to meet your needs</p>
                </div>

                <div class="images">
                    <div class="maincontent">
                        <div class="part1">
                            <div class="forimage">
                                <img class="img3" src="/html/path-1.png" alt="">
                            </div>
                            <div class="forcontent">
                                <p class="bold">24/7 English Support</p>
                                <p class="con">Call Us Anytime</p>
                            </div>
                        </div>
                        <div class="part1">
                            <div class="forimage">
                                <img class="img3" src="/html/path-2.png" alt="">
                            </div>
                            <div class="forcontent">
                                <p class="bold"> Work Life Balance</p>
                                <p class="con">Make Life Easier</p>
                            </div>
                        </div>

                    </div>

                    <div class="maincontent">
                        <div class="part1">
                            <div class="forimage">
                                <img class="img3" src="/html/path-1.png" alt="">
                            </div>
                            <div class="forcontent">
                                <p class="bold">Special Expert Rates</p>
                                <p class="con"> Excellent Coverage</p>
                            </div>
                        </div>
                        <div class="part1">
                            <div class="forimage">
                                <img class="img3" src="/html/Path-8.png" alt="">
                            </div>
                            <div class="forcontent">
                                <p class="bold">No Paper Work Left</p>
                                <p class="con">Just Sign Up and use</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cons">
                    <a class="cons1" href="">Get A Consultation</a>
                </div>

            </div>

        </div>
    </section>
    <section class="sec2">
        <div class="container">
            <div class="our">
                <p>OUR SERVICES</p>
            </div>
            <div>
                <h2 class="ins">Insurance made simple for you</h2>
            </div>
            <div>
                <p class="we">We work with several leading insurance companies to secure insurance<br> coverages tailored to meet your needs</p>
            </div>

            <div class="row">
                <div class="row1">
                    <img class="icon" src="/html/Icon  6.svg" alt="">
                    <p>Flexible products to make your life easier</p>
                </div>

                <div class="row1">
                    <img class="icon" src="/html/Icon  6.svg" alt="">
                    <p>Highest standards of service</p>
                </div>
                <div class="row1">
                    <img class="icon" src="/html/Icon  6.svg" alt="">
                    <p>Fast and reliable service</p>
                </div>
            </div>
            <div class="row2">
                <div class="column">
                    <img class="icon9" src="/html/images/Icon  9.png" alt="">
                    <p class="hi">Home Insurance</p>
                    <p class="cont">Home insurance is a type of<br>insurance policy that provides<br>cover for your home</p>
                    <p class="learn">Learn More &rarr;</p>
                </div>
                <div class="column">
                    <img class="icon9" src="/html//images/Icon  10.png" alt="">
                    <p class="hi">Life Insurance</p>
                    <p class="cont">Helping you bridge gaps in your<br>health care coverage during<br>times of transition.</p>
                    <p class="learn">Learn More&rarr;</p>
                </div>
                <div class="column">
                    <img class="icon9" src="/html//images/Icon  11.png" alt="">
                    <p class="hi">Car Insurance</p>
                    <p class="cont">Car insurance is a type of<br>insurance policy that provides<br>cover for your car.</p>
                    <p class="learn">Learn More&rarr;</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec4">
        <div class="container">
            <div class="white">
                <img class="green" src="/html/double-quote-serif-left-64.png" alt="">
                <p class="conn">This platform is one of the best<br>companies I have dealt with <br>in Indonesia.They're always happy
                    <br>to help,and I would'nt hesitate<br> to recommed them.</p>
                <div class="di">

                    <p class="Daniel"> Daniel Anderson</p>
                    <img class="icon6" src="/html/Icon  6.svg" alt="">
                    <p class="vc"><em>Verified Customer</em></p>
                </div>
            </div>

        </div>


    </section>

    <section class="sec5">
        <div class="container">

            <div class="row4">
                <div class="columns">

                    <p class="hii">Your Benefits</p>
                    <p class="contss">We are your right<br> insurance advocate</p>

                </div>
                <div class="columns">
                    <img class="icon9" src="/html/path-1.png" alt="">
                    <p class="hi1">We have the best prices</p>
                    <p class="conts">Our insurance plans offered are priced the same everywhere else.We just make them easier for you to find</p>

                </div>
                <div class="columns">
                    <img class="icon9" src="/html/Path.png" alt="">
                    <p class="hi1">We are your insurance advocate</p>
                    <p class="conts">We will deal with the insurance companies for you,even after you have bought your plan.</p>

                </div>
                <div class="columns">
                    <img class="icon9" src="/html/Path-3.png" alt="">
                    <p class="hi1">We are unbiased</p>
                    <p class="conts">Our online tools help you to decide what product is best for you.We are here to insure plan you chose</p>

                </div>
                <div class="columns">
                    <img class="icon9" src="/html/Path-7.png" alt="">
                    <p class="hi1">We are availabe 24/7</p>
                    <p class="conts">We have your back 24/7 between our online chat function,email and telephone support</p>

                </div>
                <div class="columns">
                    <img class="icon9" src="/html/Path-2.png" alt="">
                    <p class="hi1">We make insurance simple</p>
                    <p class="conts">We are commited to make applying for insurance as simple as can be for our customers</p>

                </div>

            </div>


        </div>
    </section>
    <section class="sec6">
        <div class="container">
            <div class="tips">
                <p>OUR TIPS FOR YOU</p>
            </div>
            <div class="reinvent">
                <p>Reinventing your protection</p>
            </div>
            <div class="share">
                <p>We share commom trends, strategies ideas, opinions, short & long<br>stories from the team behind company</p>
            </div>
            <div class="imge">
                <div class="left">
                    <p class="Prevent">How to Prevent And Protect<br>Your Family From Carbon
                        <br>Monoxide</p>
                </div>
                <div class="right">
                    <p class="Prevent1">Motherhood is the hardest<br>and the best job ever</p>
                </div>
            </div>
        </div>

    </section>

    <section class="sec7">
        <div class="container">
            <div class="tips">
                <p>TESTIMONIALS</p>
            </div>
            <div class="reinvent">
                <p>What our customers have to say</p>
            </div>
            <div class="stars">
                <div class="stars1">
                    <img class="" src="/html/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <p class="rec">I received great customer<br> service from the specialists<br> who helped me. I would<br> recommend to anyone who<br> wants q uality.</p>
                    <div class="viola">
                        <img class="userlogo" src="/html/images/Avatar-3.png" alt="">
                        <div>
                            <p>Viola Manisha</p>
                            <div class="vec">
                                <img class="aaa" src="/html/images/Icon  6.svg" alt="">
                                <p>Verified Customer</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="stars1">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <p class="rec">Very responsive and<br> competent ! I ' ve never dealt<br> with an insurance company<br> this customer - friendly in my entire<br> life.</p>
                    <div class="viola">
                        <img class="userlogo" src="/html/images/Avatar-4.png" alt="">
                        <div>
                            <p>Bryan Arnoldy</p>
                            <div class="vec">
                                <img class="aaa" src="/html/images/Icon  6.svg" alt="">
                                <p>Verified Customer</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="stars1">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <p class="rec">My experience with this <br>platform so far has been great.<br> Everything is easy , from<br> signing the contract to making<br> an appointment</p>
                    <div class="viola">
                        <img class="userlogo" src="./images/Avatar-5.png" alt="">
                        <div>
                            <p>Joshua William</p>
                            <div class="vec">
                                <img class="aaa" src="./images/Icon  6.svg" alt="">
                                <p>Verified Customer</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="stars1">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="./html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <p class="rec">It's the best online insurance<br> you can find.Easy ,without<br> hidden costs and you can be<br> very sure.your data is<br> completely save.</p>
                    <div class="viola">
                        <img class="userlogo" src="/html/images/Avatar-6.png" alt="">
                        <div>
                            <p>George Scott</p>
                            <div class="vec">
                                <img class="aaa" src="/html/images/Icon  6.svg" alt="">
                                <p>Verified Customer</p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
    <section class="sec8">
        <div class="container">
            <div class="trust">
                <div class="itemimg">
                    <img class="" src="/html/images/Item.png" alt="">
                </div>
                <div class="itemimg">
                    <img class="" src="/html/images/5star.png" alt="">
                </div>
                <div class="itemimg">
                    <img class="" src="/html/images/like.png" alt="">

                </div>
            </div>
        </div>
    </section>

    <section class="sec9">
        <div class="container">
            <div class="im">
                <div class="lf">
                    <div>
                        <p class="ready">Ready to get insured?Submit your<br> request and hear back as soon as <br> tomorrow.
                        </p>
                    </div>
                    <div class="btn">
                        <input class="button" type="text" placeholder="Your Email">
                        <a class="href" href="">Get Started</a>
                    </div>

                    <div class="submit">
                        <p>Get a response tomorrow if you submit by 9 pm today.If we received after<br>9 pm will get a response the following day.</p>
                    </div>
                </div>
                <div class="ri">
                    <div class="abccon">
                        <img class="icon6" src="/html/Icon  6.svg" alt="">
                        <div>
                            <p class="best">We have the best prizes</p>
                            <p class="plans">Our insurance plans offered are<br>prized the same everywhere else</p>
                        </div>
                    </div>
                    <div class="abccon2">
                        <img class="icon6" src="/html/Icon  6.svg" alt="">
                        <div>
                            <p class="best">We make insurance simple</p>
                            <p class="plans">We're commited to making applying<br>for insurance as simple as can be.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="last">
                <div class="logo2">
                    <img src="/html/Logo3.jpg" alt="">

                    <p class="text">Build a modern and creative<br> website wih crealand</p>
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">
                    <img class="" src="/html/images/trustpilot-star.svg" alt="">

                </div>
                <div class="product">

                    <ul class="landing">
                        <li>
                            <span class="ser">Products</span></li>
                        <a href="#">
                            <li>Landing Page </li>
                        </a>
                        <a href="#">
                            <li>Features</li>
                        </a>
                        <a href="#">
                            <li>Documentation</li>
                        </a>
                        <a href="#">
                            <li> Referral Program</li>
                        </a>
                        <a href="#">
                            <li> Pricing</li>
                        </a>
                    </ul>
                </div>
                <div class="product">

                    <ul class="landing">
                        <li><span class="ser">Services</span></li>
                        <a href="#">
                            <li>Documentation </li>
                        </a>
                        <a href="#">
                            <li>Design</li>
                        </a>
                        <a href="#">
                            <li>Themes</li>
                        </a>
                        <a href="#">
                            <li> Illustrations</li>
                        </a>
                        <a href="#">
                            <li> Ui Kit</li>
                        </a>
                    </ul>
                </div>
                <div class="product">
                    <ul class="landing">
                        <li><span class="ser">Company</span></li>
                        <a href="#">
                            <li>About </li>
                        </a>
                        <a href="#">
                            <li>Terms</li>
                        </a>
                        <a href="#">
                            <li>Privacy policy</li>
                        </a>
                        <a href="#">
                            <li>Careers</li>
                        </a>

                    </ul>
                </div>
                <div class="product">
                    <ul class="landing">
                        <li><span class="ser">More</span></li>
                        <a href="#">
                            <li>Documentation </li>
                        </a>
                        <a href="#">
                            <li>License</li>
                        </a>
                        <a href="#">
                            <li>Change log</li>
                        </a>

                    </ul>
                </div>
            </div>
            <div class="copy">
                <img class="icon6" src="/html/images/Like.png" alt="">
                <p class="copy1">Copyright 2019.Crafted with Love.</p>
            </div>
        </div>

    </section>