<!DOCTYPE html>
<html lang="en">

<head>
    <title>Practice 2</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main">
        <section class="header">
            <header class="top">
                <div>
                    <h1>EHYA</h1>
                </div>
                <div>
                    <nav class="nav">
                        <a class="nav-a" href="#">Home</a>
                        <a class="nav-a" href="#">Landings</a>
                        <a class="nav-a" href="#">Pages</a>
                        <a class="nav-a" href="#">Docs</a>
                        <a class="nav-a" href="#">Help</a>
                        <a class="getitnow" href="#">Get it Now</a>
                    </nav>
                </div>
            </header>
        </section>

        <section class="sec1">
            <div class="container">
                <div class="sec1-text">
                    <div>
                        <h1>
                            <span class="sec1-h1">Number #1,</span>
                            <span class="sec1-h1">Southern Asia</span>
                            <span class="sec1-h1">Digital Product Agency</span>
                        </h1>
                    </div>
                    <div class="sec1-p">
                        <p class="sec1-span">
                            We bring the result while helping you achieve cost<br> and savings without taking on risk or<br> management ovehead.
                        </p>
                    </div>
                    <div class="sec1-a">
                        <a class="sec1-portfolio" href="#"> see our portfolio </a>
                    </div>
                    <div class="sec1-darr"><span class="darr">&darr;</span></div>
                </div>
                <div class="sec1-box">
                    <img class="sec1-img" src="/imagesweb/clipboard.png" alt="" />
                </div>
            </div>
        </section>

        <section class="section2">
            <div class="container2">
                <h3 class="sec2-h3">our partner</h3>
                <div>
                    <div class="sec2-text">
                        <div>
                            <p>
                                <span class="sec2-p-span1">We've worked with them,</span>
                                <span class="sec2-p-span1">We Trust Each Other</span>
                            </p>
                        </div>
                        <div>
                            <p>
                                <span class="sec2-p-span2">
                    Our team provide high-level creative education to
                  </span>
                                <span class="sec2-p-span2">
                    a global audience of students,educators,and
                  </span>
                                <span class="sec2-p-span2">
                    entrepreneurs all over the word.
                  </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="sec2-logos">
                    <div><img src="/imagesweb/slack.png" alt="" /></div>
                    <div><img src="/imagesweb/Shape.png" alt="" /></div>
                    <div><img src="/imagesweb/fitbit.png" alt="" /></div>
                    <div><img src="/imagesweb/google.png" alt="" /></div>
                    <div><img src="/imagesweb/airbnb.png" alt="" /></div>
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="container3">
                <div class="sec3-span">
                    <p class="sec3-p">
                        <span class="sec3-p-span1"> What We do </span>
                        <span class="sec3-p-span2">
                We work together with our client to execute impactful product.
              </span>
                    </p>
                </div>
                <div class="sec3-boxes">
                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Oval.png " alt=" " />
                        <div>
                            <h3 class="sec3-h3">Branding Identity</h3>
                            <p>
                                <span class="sec3-p-span2">We make logo and concept for</span>
                                <span class="sec3-p-span2">your brand needs.</span>
                            </p>
                        </div>
                    </div>

                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Polygon-2.png" alt=" " />
                        <div class="sec3-h3">
                            <h3>Development</h3>
                            <p>
                                <span class="sec3-p-span2">We code your apps,website and</span
                  >
                  <span class="sec3-p-span2">dashboard to you.</span>
                            </p>
                        </div>
                    </div>

                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Polygon-1.png " alt=" " />
                        <div>
                            <h3 class="sec3-h3">UI/UX Design</h3>
                            <p>
                                <span class="sec3-p-span2">Making beautiful and intuitive</span
                  >
                  <span class="sec3-p-span2">design digital product.</span>
                            </p>
                        </div>
                    </div>
                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Rectangle.png " alt=" " />
                        <div>
                            <h3 class="sec3-h3">Microstock</h3>
                            <p>
                                <span class="sec3-p-span2">We produce million asset for</span>
                                <span class="sec3-p-span2">your business needs.</span>
                            </p>
                        </div>
                    </div>
                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Triangle.png " alt=" " />
                        <div>
                            <h3 class="sec3-h3">Social Media</h3>
                            <p>
                                <span class="sec3-p-span2">Planning and maintain social</span>
                                <span class="sec3-p-span2">media for reach audience.</span>
                            </p>
                        </div>
                    </div>
                    <div class="sec3-box">
                        <img class="sec3-img" src="/imagesweb/Polygon.png " alt=" " />
                        <div>
                            <h3 class="sec3-h3">Research</h3>
                            <p>
                                <span class="sec3-p-span2">
                    Helping research startup or brand
                  </span>
                                <span class="sec3-p-span2">to business needs.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section4">
            <div class="container4">
                <div>
                    <h3 class="sec4-h3">portfolio</h3>
                    <h2 class="sec4-h2">our projects</h2>
                </div>
                <div class="sec4-boxes">
                    <div class="sec4-box">
                        <div>
                            <img src="/imagesweb/Photo.png" alt="">
                        </div>
                        <div class="sec4-text">
                            <label class="sec4-label" for="">Website,Landings</label>
                            <h2 class="sec4-h2">Website Project</h2>
                        </div>
                    </div>
                    <div class="sec4-box">
                        <div>
                            <img src="/imagesweb/Photo.png" alt="">
                        </div>
                        <div class="sec4-text">
                            <label class=" sec4-label " for=" ">Dashboard, UI/UX Design</label>
                            <h2 class="sec4-h2 ">Dashboard Project</h2>
                        </div>
                    </div>
                    <div class="sec4-box ">
                        <div>
                            <img src="/imagesweb/Photo.png " alt=" ">
                        </div>
                        <div class="sec4-text">
                            <label class="sec4-label " for=" ">Apps,iOs</label>
                            <h2 class="sec4-h2 ">Apps Project</h2>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section5">
            <div class="container5">
                <div>
                    <h3 class="sec5-h3">testimonial</h3>
                    <h2 class="sec5-h2">What People Say about Us</h2>
                </div>
                <div class="sec5-boxes">
                    <div class="sec5-box">
                        <div>
                            <div class="sec5-testi">
                                <div>
                                    <img src="/imagesweb/profile-img.png" alt="">
                                </div>
                                <div>
                                    <div>
                                        <p>
                                            <h4 class="sec5-h4">Jaquon Hart</h4>
                                            <span class="sec5-span">VP Manager - Lizel Company</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="sec5-span1"> "Their UI/UX are skiled and exprince,were key to<br> identifying potential fraction point within our Business <br> Process ,which they fixed or streamlined beautiful".
                        </div>
                    </div>
                    <div class="sec5-box">
                        <div>
                            <div class="sec5-testi">
                                <div>
                                    <img src="/imagesweb/profile-img.png" alt="">
                                </div>
                                <div>
                                    <div>
                                        <p>
                                            <h4 class="sec5-h4">Valdemar Forseburg</h4>
                                            <span class="sec5-span">Founder Digitac Finance</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="sec5-span1"> "Ehya pushed us to speak beyond our initial scope and "<br> iamgination while ensuring that the design and shape of <br> the platform are continually adjustedbased on data".
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="section6">
            <div class="container6">
                <div class="sec6_head">
                    <h3 class="sec5-h3">our social media</h3>
                    <h2 class="sec5-h2">Let's be Friends</h2>

                </div>
                <div class="sec6-boxes">
                    <div class="sec6-box">
                        <div class="social_card">
                            <div>
                                <img src="/imagesweb/instagram.png" alt="">
                            </div>
                            <div class="sec6-text">
                                <span class="sec6-span1">Instagram</span>
                                <p>
                                    <span class="sec6-span2"> For our Portfolio and Daily</span>
                                    <span class="sec6-span2"> activities in office </span>

                                </p>
                                <a href="#" class="sec6-a">Follow Us<span class="sec6-aero">&rarr;</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-box">
                        <div class="social_card">
                            <div>
                                <img src="/imagesweb/twitter.png" alt="">
                            </div>
                            <div class="sec6-text">
                                <span class="sec6-span1">Twitter</span>
                                <p>
                                    <span class="sec6-span2"> For random thoughts and</span>
                                    <span class="sec6-span2"> funny things </span>

                                </p>
                                <a href="#" class="sec6-a">Follow Us<span class="sec6-aero">&rarr;</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-box">
                        <div class="social_card">
                            <div>
                                <img src="/imagesweb/dribbble.png" alt="">
                            </div>
                            <div class="sec6-text">
                                <span class="sec6-span1">Dribble</span>
                                <p>
                                    <span class="sec6-span2"> For update & Detailed all</span>
                                    <span class="sec6-span2"> of Our Portfolio </span>

                                </p>
                                <a href="#" class="sec6-a">Follow Us<span class="sec6-aero">&rarr;</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="sec6-box">
                        <div class="social_card">
                            <div>
                                <img src="/imagesweb/youtube.png" alt="">
                            </div>
                            <div class="sec6-text">
                                <span class="sec6-span1">Youtube</span>
                                <p>
                                    <span class="sec6-span2"> For our video about tutorials and</span>
                                    <span class="sec6-span2"> tips on design industry </span>

                                </p>
                                <a href="#" class="sec6-a">Subscribe<span class="sec6-aero">&rarr;</span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>


        <section class="section7">
            <div class="container7">
                <div class="sec7-text">
                    <p>
                        <h3 class="sec7-h3">We're Ready for a Challenging Project</h3>
                        <span class="sec7-span">send us your brief and tell your Project too. We are ready to help you need</span>
                    </p>
                    <div class="sec7-a">
                        <a class="get-btn" href="#">Let's Discuss it!</a>
                    </div>
                </div>




            </div>

        </section>
        <footer class="footer">
            <section class="section8">
                <div class="sec8-desc">
                    <div class='sec8-box'>
                        <img class="sec8-img" src="/imagesweb/image1.svg" alt="">
                        <p>
                            <span class="sec8-span4">Build a Modern and creative</span>
                            <span class="sec8-span4">website with crealand</span>
                        </p>
                        <div class="social-media">
                            <a href="#"><img src="/imagesweb/trustpilot-star  10.svg" alt=""></a>
                            <a href="#"><img src="/imagesweb/trustpilot-star  10.svg" alt=""></a>
                            <a href="#"><img src="/imagesweb/trustpilot-star  10.svg" alt=""></a>
                            <a href="#"><img src="/imagesweb/trustpilot-star  10.svg" alt=""></a>
                            <a href="#"><img src="/imagesweb/trustpilot-star  10.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="sec8-box">
                        <ul class="footer-nav">
                            <li class="sec8-header"><a href="#">Product</a></li>
                            <li class="sec8-list"><a href="#">Landingpage</a></li>
                            <li class="sec8-list"><a href="#">Features</a></li>
                            <li class="sec8-list"><a href="#">Documentation</a></li>
                            <li class="sec8-list"><a href="#">Refferal Program</a></li>
                            <li class="sec8-list"><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="sec8-box">
                        <ul class="footer-nav">
                            <li class="sec8-header"><a href="#">Product</a></li>
                            <li class="sec8-list"><a href="#">Landingpage</a></li>
                            <li class="sec8-list"><a href="#">Features</a></li>
                            <li class="sec8-list"><a href="#">Documentation</a></li>
                            <li class="sec8-list"><a href="#">Refferal Program</a></li>
                            <li class="sec8-list"><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="sec8-box">
                        <ul class="footer-nav">
                            <li class="sec8-header"><a href="#">Product</a></li>
                            <li class="sec8-list"><a href="#">Landingpage</a></li>
                            <li class="sec8-list"><a href="#">Features</a></li>
                            <li class="sec8-list"><a href="#">Documentation</a></li>
                            <li class="sec8-list"><a href="#">Refferal Program</a></li>
                            <li class="sec8-list"><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="sec8-box">
                        <ul class="footer-nav">
                            <li class="sec8-header"><a href="#">Product</a></li>
                            <li class="sec8-list"><a href="#">Landingpage</a></li>
                            <li class="sec8-list"><a href="#">Features</a></li>
                            <li class="sec8-list"><a href="#">Documentation</a></li>
                            <li class="sec8-list"><a href="#">Refferal Program</a></li>
                            <li class="sec8-list"><a href="#">Pricing</a></li>
                        </ul>
                    </div>

                </div>
                <div class="thankyou">
                    <div>
                        <img class='like-img' src="/imagesweb/Like.png" alt="">
                        <p>
                            <span class="copyright">Copyright © 2019. Crafted with love.</span>
                        </p>
                    </div>
                </div>
            </section>
        </footer>



    </div>
</body>

</html>