<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div>

        <h1>
            welcome
            <%= user.name %>
        </h1>
        <form method="post" action="/logout">
            <input type="submit" value="LogOut"></td>

        </form>

        <a href="/colorchange">COLOR CHANGE GAME </a><br>
        <a href="/tictac">TIC TAC TOE</a>


        <div class <div class="card">
            <img src="/public/images/bottom-logo.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b></b></h4>

            </div>
        </div>
</body>

</html>