.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.logo {
    padding-left: 100px;
    padding-top: 12px;
}

.ul li {
    padding-left: 40px;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 50px;
}

.click {
    margin-right: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    color: blue;
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 10px;
}

.txt_1 {
    font-size: 50px;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.header_right {
    padding-right: 100px;
    padding-left: 100px;
}

.c1 {
    font-size: medium;
    font-weight: bold;
}

.sep {
    font-size: 16px;
    font-weight: 600;
}

.seg {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    position: relative;
}

.ec {
    font-weight: 300;
}

.eg {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    position: relative;
}

.main1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrk {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    position: relative;
}

.npw {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    position: relative;
}

.ser {
    color: lightgreen;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.ins {
    color: black;
    font-weight: 700;
    text-align: center;
    font-size: x-large;
}

.we {
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}

.main2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
}

.btn2 {
    border: 2px;
    background-color: blue;
    border-radius: 2px;
    padding-left: 50px;
    padding-inline: 20px;
    margin-block-end: 20px;
    color: white;
}

.main3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.icon9 {
    width: 90px;
    height: 90px;
    margin-top: 80px;
}

.icon10 {
    width: 90px;
    height: 90px;
    margin-top: 80px;
}

.icon11 {
    width: 100px;
    height: 100px;
    margin-top: 80px;
}

.main4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
}

.home {
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    border: 1px silver;
    margin: 0px 16px;
    border-radius: 10px;
}

.ins {
    padding-left: 90px;
    padding-right: 10px;
    font-size: 20px;
}

.car {
    padding-left: 40px;
    padding-right: 195px;
    font-size: 20px;
}

.main5 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.home1 {
    margin-top: 1px;
    margin-bottom: 200px;
    padding-left: 130px;
    font-size: 17px;
    font-weight: 1px;
}

.ins1 {
    padding-left: 130px;
    padding-right: 10px;
    font-size: 17px;
    font-weight: 1px;
}

.car1 {
    padding-left: 40px;
    padding-right: 150px;
    font-size: 20px;
    font-size: 17px;
    font-weight: 1px;
}